@import '~bootstrap/scss/bootstrap';

a,
.btn-link {
  text-decoration: none;
}
.disabled-link {
  pointer-events: none;
}

.bg-black {
  background-color: #000;
}

.icon {
  height: 52px;
  width: 52px;
}

.center {
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

.sessions {
  min-width: 200px;
}
@media (min-width: 991px) {
  .sessions {
    min-width: 30%;
  }
}
